/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    font-size: 32px;
    background-color: #99000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }